@{
    ViewData["Title"] = "Home Page";
}
@model HTActive.Web.Models.HomePageViewModel
@{
    var contentIndex = Model.ContentIndex;
}
<!-- banner start -->
<!-- ================ -->
<div class="banner">

    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner">
                <ul>
                    @foreach (var slide_top in (contentIndex?.TopSlides ?? new List<HTActive.Web.Models.ContentIndexTopSlideModel>()))
                    {
                        <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"
                            data-title="@slide_top.MainImageAlt">

                            <!-- main image -->
                            <img src="@slide_top.MainImageSrc" alt="@slide_top.MainImageAlt"
                                 data-bgposition="center top" data-bgfit="cover"
                                 data-bgrepeat="no-repeat">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption default_bg large sfr tp-resizeme" data-x="0" data-y="70" data-speed="600"
                                 data-start="1200" data-end="9400"
                                 data-endspeed="600">
                                @slide_top.SlideTitle
                            </div>

                            @{
                                var listContent = slide_top.SlideContents.Split("_$_");
                                var ci = 0;
                            }
                            @foreach (var slCon in listContent)
                            {
                                <div class="tp-caption dark_gray_bg sfl medium tp-resizeme" data-x="0" data-y="@(170+ci*50)"
                                     data-speed="600" data-start="@(1600+ci*200)" data-end="9400"
                                     data-endspeed="600">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="tp-caption light_gray_bg sfb medium tp-resizeme" data-x="50" data-y="@(170+ci*50)"
                                     data-speed="600" data-start="@(1600+ci*200)"
                                     data-end="9400" data-endspeed="600">
                                    @slCon
                                </div>
                                ci++;
                            }

                            <div class="tp-caption dark_gray_bg sfb medium tp-resizeme" data-x="0" data-y="@(170+ci*50)"
                                 data-speed="600" data-start="@(1600+ci*200)" data-end="9400"
                                 data-endspeed="600">
                                @slide_top?.SlideFooter
                            </div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption sfr tp-resizeme" data-x="right" data-y="center" data-speed="600"
                                 data-start="2700" data-end="9400"
                                 data-endspeed="600">
                                <img src="@slide_top?.RightImageSrc"
                                     alt="@slide_top?.RightImageAlt">
                            </div>

                        </li>
                                }
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->
<!-- page-top start-->
<!-- ================ -->
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="call-to-action">
                    <h1 class="title"></h1>
                    <p class="lead">@contentIndex?.PolicyContent</p>
                    <a class="btn btn-white more" href="/services">
                        @contentIndex?.ButtonReadMore<i class="pl-10 fa fa-info"></i>
                    </a>

                    <a href="/contact" class="btn btn-default contact">
                        @contentIndex?.ButtonContact<i class="pl-10 fa fa-phone"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

    <!-- main start -->
    <!-- ================ -->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title">@contentIndex?.FeatureTitle</h1>
                    <div class="separator"></div>
                    <p class="lead text-center">@contentIndex?.FeatureContent</p>
                    <div class="row">
                        @{ var fi = 0;}
                        @foreach (var feature in contentIndex?.Features ?? new List<HTActive.Web.Models.ContentIndexFeatureModel>())
                        {
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall"
                                     data-effect-delay="@(fi++*200)">
                                    <i class="@feature?.Icon"></i>
                                    <h2>@feature?.Title</h2>
                                    <p>@feature?.Content</p>
                                    <a href="/services" class="btn-default btn">@contentIndex?.ButtonReadMore</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main end -->
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">@contentIndex?.AboutUsTitle</h1>
                <div class="separator"></div>
                <p class="lead text-center">@contentIndex?.AboutUsContent</p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">@contentIndex?.AboutUsLeftTitle</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="imgAboutus" src="@contentIndex?.AboutUsLeftSrc" alt="">
                            </div>
                            <div class="col-md-6">
                                <p>@contentIndex?.AboutUsLeftSubContent</p>
                            </div>
                        </div>
                        <p>@contentIndex?.AboutUsLeftContent</p>
                        <a href="@contentIndex?.AboutUsLeftUrl"
                           class="btn btn-white">@contentIndex?.ButtonReadMore</a>
                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group panel-dark" id="accordion">
                            @foreach (var right in contentIndex?.AboutUsRights ?? new List<HTActive.Web.Models.ContentIndexAboutUsRightModel>())
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#{% if i == 0 %}collapseOne{% endif %}{% if i == 1 %}collapseTwo{% endif %}{% if i == 2 %}collapseThree{% endif %}{% if i == 3 %}collapseFour{% endif %}"
                                               class="{% if i > 0 %}collapsed{% endif %}">
                                                <i class="@right?.Icon customwidth"></i>@right?.Title
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{% if i == 0 %}collapseOne{% endif %}{% if i == 1 %}collapseTwo{% endif %}{% if i == 2 %}collapseThree{% endif %}{% if i == 3 %}collapseFour{% endif %}"
                                         class="panel-collapse collapse {% if i == 0 %}in{% endif %}">
                                        <div class="panel-body">
                                            @right?.Content
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section parallax light-translucent-bg parallax-bg-3">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title text-center">@contentIndex?.ContactTitle</h1>
                    <p class="text-center">@contentIndex?.ContactContent</p>
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/contact" class="btn btn-default btn-lg">@contentIndex?.ButtonContact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">@contentIndex?.WhyChooseTitle</h1>
                <div class="separator"></div>
                <p class="lead text-center">@contentIndex?.WhyChooseContent</p>

                <!-- Tabs start -->
                <!-- ================ -->
                <div class="vertical hc-tabs">

                    <div class="arrow hidden-sm hidden-xs"><i class="fa fa-caret-up"></i></div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        @{ var wci = 0;}
                        @foreach (var whychoose in contentIndex?.WhyChooseReasons ?? new List<HTActive.Web.Models.ContentIndexWhyChooseModel>())
                        {
                            <li class="@(wci==0?"active":"")">
                                <a href="#tab@(wci)" role="tab" data-toggle="tab">@whychoose?.Title</a>
                            </li>
                            wci++;
                        }
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content tab-custom">
                        @{ var wci2 = 0;}
                        @foreach (var whychoose in contentIndex?.WhyChooseReasons ?? new List<HTActive.Web.Models.ContentIndexWhyChooseModel>())
                        {

                            <div class="tab-pane fade @(wci2 == 0 ? "in active" : "")" id="tab@(wci2)">
                                <h1 class="text-center title">@whychoose?.Title</h1>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>@Html.Raw(whychoose?.Content ?? string.Empty)</p>
                                        @if (!string.IsNullOrEmpty(whychoose?.Src))
                                        {
                                            <img src="@whychoose?.Src" alt="" />
                                        }
                                    </div>
                                </div>
                            </div>
                            wci2++;
                        }
                    </div>
                </div>
                <!-- tabs end -->

            </div>
        </div>
    </div>
</div>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
    <div class="owl-carousel content-slider">
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Inspirational</h2>
                        <div class="testimonial-image">
                            <img src="/assets/voc/images/steve.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>
                                Your work is going to fill a large part of your life, and the only way to be truly
                                satisfied is to do what you believe is great work. And the only way to do great work is
                                to love what you do. If you haven't found it yet, keep looking. Don't settle. As with
                                all matters of the heart, you'll know when you find it.
                            </p>
                            <div class="testimonial-info-1">- Steve Jobs</div>
                            <div class="testimonial-info-2">Apple Inc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Innovation</h2>
                        <div class="testimonial-image">
                            <img src="/assets/voc/images/billgates.jpg" alt="Jane Doe" title="Jane Doe"
                                 class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>
                                Software innovation, like almost every other kind of innovation, requires the ability to
                                collaborate and share ideas with other people, and to sit down and talk with customers
                                and get their feedback and understand their needs.
                            </p>
                            <div class="testimonial-info-1">- Bill Gates</div>
                            <div class="testimonial-info-2">Microsoft Inc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Simple concept</h2>
                        <div class="testimonial-image">
                            <img src="/assets/voc/images/dmr1.png" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>
                                UNIX is basically a simple operating system, but you have to be a genius to understand
                                the simplicity.
                            </p>
                            <div class="testimonial-info-1">- Dennis Ritchie</div>
                            <div class="testimonial-info-2">Creator of C language</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
